@using System.Configuration
@using Epam.Task06.DependencyResolver;
@{
    Layout = null;
    DependencyResolver.SettingsLogic.SetPath($"E:\\Users.json");
    var a = DependencyResolver.UserLogic.GetAll();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @foreach (var item in a)
    {
        
        <h3>@item.Id   @item.Name   @item.DateOfBirth   @item.Age  </h3>
    }
    <br />
    @foreach (var item in DependencyResolver.AwardLogic.GetAll())
    {
        <h2>@item.Id ---- @item.Title</h2>
    }
    </div>
</body>
</html>
